    <link rel="stylesheet" href="/stylesheets/sport-coach.css" />

<!--Section 1-->


    <section class="first-section">
    <div class ="container">
    <heading>
        
        <h2>I'm Emily, <p class= "build">Career coach</p>
</h2>
        <hr class= "first-hr">
</heading>
</section>


<section class="fifth-section">
    <div class= "fifth-container">
        <div class="fifth-first-div">
                <h1>Find your job you love</h1>
                <div class="underline"></div>
        <p> Career coaching can help you with your current job, establish your professional goals and support you in making a career change. The aim of career coaching is to help you understand what you want, the skills you need and how you can develop. A career coach will support you in making these initial steps, setting you on your way to a more fulfilling working life.
</p>

            <div class="coach-button">
<a class="meet-coach" href="/create-reviews"> See reviews</a>
</div>
    </div>

    <div class="second-div">
            <img src="/images/career_coach.jpg" alt="career coach profile photo" />


    </div>
    </div>
    </div>
</section>

<section class="fifth-section">
    <div class="fifth-container">
    <div class="second-div">
                <img src="/images/career-plan.jpg" alt= "Career coach photo"/>
</div>
<div class="fifth-first-div">
    <h1>Emily Richard</h1>
    <div class="underline">
    </div>
<p> 
    " After graduating from a Master 2 in HR at INSEEC Paris, I decided to pursue another degree in coaching. For the last 2 years I have been coaching Managers in a professional environment but also emmployees willing to grow their career. Career coaching is there to helps you improve your career but also be on another level of skills. "
    <div class="coach-button">
<a class="meet-coach" href="/book-session"> Book a session </a>

</div>

    </div>
</div>
</section>


<hr class= "last-hr">
<div class="bottom-container">
        <img class= "quotes" src="/images/quote-left-solid.svg" alt="life goal" />
        <blockquote class = "blockquote">
    <h1 id= "quote-h1">Say yes to the things that scare you</h1>
        </blockquote>
    </div>

    <div class="bottom2-container">
    </div>
    </div>
