    <link rel="stylesheet" href="/stylesheets/coach-details.css" />

<!--Section 1-->


    <section class="first-section">
    <div class ="container">
    <heading>
        
        <h2>I'm Neil, <p class= "build">Life coach</p>
</h2>
<!--
        <hr class= "first-hr">
        -->

</heading>
</section>


<section class="fifth-section">
    <div class= "fifth-container">
        <div class="fifth-first-div">
                <h1>Find your sound mind </h1>
                <div class="underline"></div>
        <p>If you are wanting to explore transitioning toward a major life change, a Life Coach can help you acheiving this goal by using coaching tools.

</p>

            <div class="coach-button">
<a class="meet-coach" href="/create-reviews"> See reviews</a>
</div>
    </div>

    <div class="second-div">
            <img src="/images/lifecoach.jpg" alt="life coach profile photo" />


    </div>
    </div>
    </div>
</section>

<section class="fifth-section">
    <div class="fifth-container">
    <div class="second-div">
                <img src="/images/meditation.jpg" alt= "life coach photo"/>
</div>
<div class="fifth-first-div">
    <h1>Neil Brown</h1>
    <div class="underline">

    </div>
<p>" 3 years as a Psychologist helped to transition easily to a Life Coach career. Coaching people to improve their mindset or living conditions is meaningful. In a world where stress, time and confidence dictate your life, you need to learn how to deal with those things and sometimes make the changes to grow. My role as a Life Coach is to accompany you to realise your goal. "
</p>
    <div class="coach-button">
<a class="meet-coach" href="/book-session"> Book a session </a>

</div>

    </div>
</div>
</section>


<hr class= "last-hr">
<div class="bottom-container">
        <img class= "quotes" src="/images/quote-left-solid.svg" alt="life goal" />
        <blockquote class = "blockquote">
    <h1 id= "quote-h1">Believe you can and you’re halfway there.</h1>
        </blockquote>
    </div>

    <div class="bottom2-container">
    </div>
    </div>
