    <link rel="stylesheet" href="/stylesheets/sport-coach.css" />

<!--Section 1-->


    <section class="first-section">
    <div class ="container">
    <heading>
        
        <h2>I'm Will, <p class= "build">Sport coach</p>
</h2>

        <hr class= "first-hr">
</heading>
</section>


<section class="fifth-section">
    <div class= "fifth-container">
        <div class="fifth-first-div">
                <h1>Build your sound body</h1>
                <div class="underline"></div>
        <p>Sport Coaches design custom exercise routines to improve strength, mobility, and endurance. Often found at gyms and equipped training center, you can book some personal trainings and follow a specific training program adapted to your goals. Some Sport Coaches can have the double skill in training and diet.
</p>

            <div class="coach-button">
<a class="meet-coach" href="/create-reviews"> See reviews</a>
</div>
    </div>

    <div class="second-div">
            <img src="/images/sport-coach.jpg" alt="style coach profile photo" />

    </div>
    </div>
    </div>
</section>

<section class="fifth-section">
    <div class="fifth-container">
    <div class="second-div">
                <img src="/images/sportcoach.jpg" alt= "Style coach photo"/>
</div>
<div class="fifth-first-div">
    <h1>Will Connors</h1>
    <div class="underline">

    </div>
<p>" I graduated from STAPS and have been a professional boxer for 5 years. Sport is a real discipline and also a lifestyle. Helping people accomplish their personal goal, such as losing weight or preparing a competition is great. I had the opportunity to train professional competitors but also people with health problems needing to eat healthier food and exercise. "
</p>
    <div class="coach-button">
<a class="meet-coach" href="/book-session"> Book a session </a>

</div>

    </div>
</div>
</section>


<hr class= "last-hr">
<div class="bottom-container">
        <img class= "quotes" src="/images/quote-left-solid.svg" alt="life goal" />
        <blockquote class = "blockquote">
    <h1 id= "quote-h1">Sports do not build character.They reveal it.</h1>
        </blockquote>
    </div>

    <div class="bottom2-container">
    </div>
    </div>
