    <link rel="stylesheet" href="/stylesheets/coach-details.css" />

<!--Section 1-->
    <section class="first-section">
    <div class ="container">
    <heading>
        
        <h2>I'm Laura, <p class= "build">Style coach</p>
</h2>
<!--
        <hr class= "first-hr">
-->
</heading>
</section>

<section class="fifth-section">
    <div class= "fifth-container">
        <div class="fifth-first-div">
                <h1>Change your style</h1>
                <div class="underline"></div>
        <p>      " A Style Coach can provide many services including personal shopping, closet audits, beauty consultations, style consultations and ongoing seasonal. Discover the ideal wardrobe for your personal style and budget. "
</p>

            <div class="coach-button">
<a class="meet-coach" href="/create-reviews"> See reviews</a>
</div>
    </div>

    <div class="second-div">
            <img src="/images/style-coach.jpg" alt="style coach profile photo" />


    </div>
    </div>
    </div>
</section>

<section class="fifth-section">
    <div class="fifth-container">
    <div class="second-div">
                <img src="/images/dressing.jpg" alt= "Style coach photo"/>
</div>
<div class="fifth-first-div">
    <h1>Laura Cooper</h1>
    <div class="underline">

    </div>
<p> 
    "I have been a Style Coach for the last 10 years and graduated from ESMOD Paris. I started my career as stylist for BALMAIN and attended several fashion weeks. After an interesting career in fashion, I wanted a new challenge: Helping people feeling better in their daily outfit"</p>
    <div class="coach-button">
<a class="meet-coach" href="/book-session"> Book a session </a>

</div>

    </div>
</div>
</section>


<hr class= "last-hr">
<div class="bottom-container">
        <img class= "quotes" src="/images/quote-left-solid.svg" alt="life goal" />
        <blockquote class = "blockquote">
    <h1 id= "quote-h1">Curate Your Colours to Suit Your Skin Tone</h1>
        </blockquote>
    </div>

    <div class="bottom2-container">
    </div>
    </div>
