<link rel="stylesheet" href="/stylesheets/booked.css" />

<body>
  <div class="booked-container">
    <h1>Yoohoo!</h1>
    <h2>Your courses have been booked!</h2>
    <img class="new-booked" src="/images/favorite.png" alt="booked" />
  </div>

  <div class="btn-container">
    <button class="booked-btn">
      <a href="/">Want to discover more ? </a>
    </button>
  </div>
</body>