    <link rel="stylesheet" href="/stylesheets/home.css" />

<div id="cookiePopup">
      <h3>Cookie Consent 🍪</h3>
      <p>Our website uses cookies to provide your browsing experience and
        relavent informations. Before continuing to use our website, you agree &
        accept of our Cookie Policy & Privacy
      <button id="acceptCookie">Accept</button>
    </div>

  <!--Section 1-->
    <section class="first-section">
      <div class ="container">
      <heading>
  <h1 class="build"> Your life begins here, </h1>
  </heading>

  <article class="first-article">
    <p class= "firstp">Put simply, coaching is a process that aims to improve performance and<br>
    and focuses on the 'here and now' rather than on the distant past or future.<br>
        </p>
        </article>

<div class="second-button">
<a class="booksessions" href="/book-session"> Book a session </a>
<a class="jointoday" href="/signup">Join today </a>
</div>
</section>

<!--Section 2-->
<section class="second-section">
    <div class="second-container">
        <img src= "/images/motivation.png" alt="motivation-logo">
        <h2 class="second-title"> Discover the best version of yourself! </h2> <br>
        <p>Good coaches believe that the individual always has the answer to their own problems <br> but understands that they may need help to find the answer. Fundamentally,
        in coaching,<br> is helping the individual to improve their own performance: in other words, helping them to learn. 
      </p>
      <br>
</div>

<!-----section 3------->
<section class="third-section">
  <div class="third-container">

<div class="first-div">
    <img src="/images/career-choice.png" alt= "career choice"/>
    <H3>Career Coach</H3>
    <button class="coach-btn">
    <a class= "coach-a" href="/career_coach"> Check more </a>
  </button>
<p> Create your new career road, join to your new team, and start collaborating. </p>
    </div>

<div class="second-div">
  <img src="/images/makeover.png" alt="style" />
    <H3>Style Coach</H3>
      <button class="coach-btn">
    <a class = "coach-a" href="/style_coach"> Check more </a>
  </button>
    <p> Change your style as you've been dreamed of, we're ready to find your beauty inside of you.</p>
</div>

<div class="third-div"> 
    <img src="/images/sport-equipment.png" alt="sport" />
    <H3>Sport Coach </H3>
    <button class="coach-btn">
    <a class = "coach-a" href="/sport_coach"> Check more </a>
  </button>
    <p> Sport will be your everyday exercise that you'll enjoy. Discover the sport that fit you the most. </p>
</div>

<div class ="fourth-div">
  <img src="/images/spa.png" alt="life goal" />
    <H3>Life Coach</H3>
    <button class="coach-btn">
    <a class = "coach-a" href="/life_coach">Check more</a>
  </button>
    <p> Find your new joy with us. Your life will be changed with our life coaches. Find your new happiness.  </p>
</div>
</div>


<div class="last-button">
  <a href="/coach"> Discover more </a>
</div>
</section>

<!-----section 4------->
<section class="fourth-section">
  <div class="fourth-container">
<div class="fourth-first-div">
    <h2>Career coach</h2>
    <div class="underline">
  </div>

<p>A career coach can help individuals research possible career options and search out job openings that match their career interests and they may work in schools, colleges, government agencies or in private practices.</p>
    </div>

<div class="second-div">
    <img src="/images/home-career.jpg" alt= "Career homepage photo"/>
</div>


</div>
</section>

<section class="fourth-section">
  <div class="fourth-container">

    <div class="second-div">
          <img src="/images/style_page.jpg" alt= "Style homepage photo"/>
</div>
<div class="fourth-first-div">
    <h2>Style coach</h2>
    <div class="underline">
  </div>

<p> 
A Style Coach is more than a Personal Stylist - we are trained as Personal Stylists but also take a fully holistic Style Coaching approach helping people with their inner confidence as well as their outer style as requested. When inner and outer confidence combine together that is when true style shines through!.</p>
    </div>
</div>
</section>


<section class="fourth-section">
  <div class="fourth-container">
<div class="fourth-first-div">
    <h2>Sport coach</h2>
    <div class="underline">
  </div>

<p>Coaches are responsible for planning, organising and delivering an appropriate range of sports activities and programmes for individuals and teams. Typical responsibilities include: teaching relevant skills, tactics and techniques and assisting with sports promotion/development..</p>
    </div>

<div class="second-div">
      <img src="/images/sport_page.jpg" alt= "Sport homepage photo"/>
</div>
</div>
</section>

<section class="fourth-section">
  <div class="fourth-container">

    <div class="second-div">
    <img src="/images/life_page.jpg" alt= "Life homepage photo"/>
</div>
<div class="fourth-first-div">
    <h2>Life coach</h2>
    <div class="underline">
  </div>

<p>A life coach is a type of wellness professional who helps people make progress in their lives in order to attain greater fulfillment. Life coaches aid their clients in improving their relationships, careers, and day-to-day lives. ... In creating these strategies, life coaches target your unique skills and gifts.</p>
    </div>
</div>
</section>


<!--Footer-->

<div class = "footer">
      <div>
        <img class="footer-logo" src="images/logo.svg" alt="logo" />
      </div>
      <a href="/"><span> ©copyright 2022</span></a>
      <nav class="nav-bar">
        <ul class="nav-bar-ul">
          <li><a href="https://www.instagram.com/"> Instagram </a></li>
          <li><a href="https://twitter.com/"> Twitter </a></li>
          <li> <a href="https://www.facebook.com/">Facebook</a></li>
          <li> <a href="https://www.youtube.com/">Youtube</a></li>

        </ul>
      </nav>
    </div>


<script type="text/javascript">
// set cookie according to you
var cookieName= "CodingStatus";
var cookieValue="Coding Tutorials";
var cookieExpireDays= 30;
// when users click accept button
let acceptCookie= document.getElementById("acceptCookie");
acceptCookie.onclick= function(){
    createCookie(cookieName, cookieValue, cookieExpireDays);
}
// function to set cookie in web browser
let createCookie= function(cookieName, cookieValue, cookieExpireDays){
  let currentDate = new Date();
  currentDate.setTime(currentDate.getTime() + (cookieExpireDays*24*60*60*1000));
  let expires = "expires=" + currentDate.toGMTString();
  document.cookie = cookieName + "=" + cookieValue + ";" + expires + ";path=/";
  if(document.cookie){
    document.getElementById("cookiePopup").style.display = "none";
  }else{
    alert("Unable to set cookie. Please allow all cookies site from cookie setting of your browser");
  }}
// get cookie from the web browser
let getCookie= function(cookieName){
  let name = cookieName + "=";
  let decodedCookie = decodeURIComponent(document.cookie);
  let ca = decodedCookie.split(';');
  for(let i = 0; i < ca.length; i++) {
    let c = ca[i];
    while (c.charAt(0) == ' ') {
      c = c.substring(1);
    }
    if (c.indexOf(name) == 0) {
      return c.substring(name.length, c.length);
    }
  }
  return "";
}
// check cookie is set or not
let checkCookie= function(){
    let check=getCookie(cookieName);
    if(check==""){
        document.getElementById("cookiePopup").style.display = "block";
    }else{
        
        document.getElementById("cookiePopup").style.display = "none";
    }
}
checkCookie();
</script>