<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <!--Nav bar -->
  <header>
    <div>
      <div>
        <img class="logo" src="images/logo.svg" alt="logo" />
      </div>
      <a href="/"><span>My coach</span></a>
      <nav class="nav-bar">
        {{#if userInSession}}
          <ul class="nav-bar-ul">
            <li><a href="/coach"> Coaches </a></li>
            <li><a href="/create-reviews"> Reviews </a></li>
            <li> <a href="/contact-us">Contact</a></li>
            <li>
              <form id="logout-form" action="/logout" method="POST">
                <button id="logout-btn">Logout</button>
              </form>
            </li>
          </ul>
        {{else}}
          <ul class="nav-bar-ul">
            <li><a href="/coach"> Coaches </a></li>
            <li><a href="/create-reviews"> Reviews </a></li>
            <li><a href="/signup"> Signup </a></li>
            <li> <a href="/login">Login</a></li>
            <li> <a href="/contact-us">Contact</a></li>
          </ul>
        {{/if}}
      </nav>
    </div>
  </header>
  <body>

    {{{body}}}

    <script src="/javascripts/script.js"></script>
  </body>
</html>