<link rel="stylesheet" href="/stylesheets/login.css" />

<!---->
<div id="form">
  <div class="container">
    <div class="brand-logo"></div>
    <h2>Login</h2>
    <form action="/login" method="POST">
      <label class="labels" for="input-email">Email</label>
      <input
        type="text"
        id="input-email"
        name="email"
        placeholder="example@mycoach.com"
      />

      <label class="labels" for="input-password">Password</label>
      <input
        type="password"
        name="password"
        id="input-password"
        placeholder="********"
      />
      <button class="submit-btn" type="submit">Login</button>

      {{#if errorMessage}}
        <p class="error">{{errorMessage}}</p>
      {{/if}}
    </form>
  </div>
</div>