<link rel="stylesheet" href="/stylesheets/message.css" />

<div class="mail-created-container">
  <h1>Your message has been sent!</h1>
  <img class="new-mail" src="/images/mail.png" />
  <h2>Email</h2>
  {{email}}
  <h2>Subject</h2>
  {{subject}}
  <h2>Message</h2>
  {{message}}
</div>

<div class="mail-btn-container">
  <button class="mail-created-btn">
    <a href="/">Go to homepage! </a>
  </button>
</div>