<link rel="stylesheet" href="/stylesheets/not-found.css" />

<div class="user-created-container">
  <h2>404 Error</h2>
  <h3>This route does not exist on the app! Check if everything is ok!</h3>
  <img class="no-route" src="/images/404.png" />
</div>

<div class="user-btn-container">
  <button class="user-created-btn">
    <a href="/">Go to homepage! </a>
  </button>
</div>