<link rel="stylesheet" href="/stylesheets/user_created_style.css" />

<div class="user-created-container">
  <h1>Welcome sunshine!</h1>
  <h2>User has created! </h2>
  <img class="new-user" src="/images/care.png" />
</div>

<div class="user-btn-container">
  <button class="user-created-btn">
    <a href="/login">Go to login! </a>
  </button>
</div>